nav {
    margin: auto;
    width: 1050px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 113px;
        height: 80%;
        background-image: url("../../../assets/myitem-logo.png");
        background-size: cover;
    }
    .search {
        width: 40%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 2px 12px 0px #b3f5ff;
        background-color: #FFF;
        padding: 10px 30px;
        border-radius: 20px;
        button {
            border: none;
            padding: 0;
            box-sizing: border-box;
        }
        .addBtn {
            width: 100px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            transition: .2s;
            color: #FFF;
            &:hover {
                box-shadow: 0px -2px 12px 5px #b3f5ff;
                background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                background-size: 200% 200%;
                animation: borderShow 1s;
                animation-fill-mode: forwards;
                @keyframes borderShow {
                    25% {background-position: -100px 0px;}
                    50% {background-position: -100px -50px;}
                    75% {background-position: 0px -50px;}
                    100% {background-position: 40px 0px;}
                }
                span {
                    background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200%;
                    background-position-x: -80px;
                    animation: textGradient 1s;
                    animation-fill-mode: forwards;
                }
                @keyframes textGradient {
                    20% { background-position-x: -80px; }
                    100% { background-position-x: 20px; }
                }
                mat-icon {
                    background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200%;
                    animation: iconGradient 1s;
                    animation-fill-mode: forwards;
                }
                @keyframes iconGradient {
                    0% { background-position-x: -30px; }
                    20% { background-position-x: 10px; }
                }
            }
            div {
                width: 95%;
                height: 92%;
                background-color: #00414d;
                border-radius: 10px;
                display: flex;
                align-items: center;
                font-family: BPG Nino Mtavruli;
                mat-icon {
                    margin-bottom: 5px;
                }
            }
        }
        section {
            width: 50px;
            height: 50px;
            background-color: #FFF;
            border-radius: 50px;
            transition: 1s;
            box-sizing: border-box;
            padding: 2.5px 2.5px;
            div {
                background-color: #FFF;
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: flex-end;
                border-radius: 50px;
                input {
                    display: none;
                    box-sizing: border-box;
                    border-radius: 50px 0px 0px 50px;
                    border: none;
                    outline: none;
                    height: 45px;
                }
                .searchBtn {
                    width: 45px;
                    height: 45px;
                    background-color: #00414d;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFF;
                    transition: .2s;
                    cursor: pointer;
                    &:hover {
                        color: rgb(0, 199, 230);
                    }
                }
                &:hover {
                    justify-content: space-between;
                    input {
                        width: 70%;
                        display: inline;
                    }
                }
            }
            &:hover {
                width: 70%;
                box-shadow: 0px -2px 12px 5px #b3f5ff;
                background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                background-size: 200% 200%;
                animation: borderShow2 .6s;
                animation-fill-mode: forwards;
                @keyframes borderShow2 {
                    25% {background-position: -100px 0px;}
                    50% {background-position: -100px -50px;}
                    75% {background-position: 0px -50px;}
                    100% {background-position: 40px 0px;}
                }
            }
        }
    }
    .login {
        width: 20%;
        button {
            border: none;
            padding: 0;
            box-sizing: border-box;
            width: 120px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            transition: .2s;
            color: #FFF;
            &:hover {
                box-shadow: 0px -2px 12px 5px #b3f5ff;
                background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                background-size: 200% 200%;
                animation: borderShow 1s;
                animation-fill-mode: forwards;
                @keyframes borderShow {
                    25% {background-position: -100px 0px;}
                    50% {background-position: -100px -50px;}
                    75% {background-position: 0px -50px;}
                    100% {background-position: 40px 0px;}
                }
                span {
                    background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 199, 230) 40%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200%;
                    background-position-x: -80px;
                    animation: textGradient 1s;
                    animation-fill-mode: forwards;
                }
                @keyframes textGradient {
                    20% { background-position-x: -80px; }
                    100% { background-position-x: 20px; }
                }
            }
            div {
                width: 95%;
                height: 92%;
                background-color: #00414d;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: BPG Nino Mtavruli;
                mat-icon {
                    margin-bottom: 5px;
                }
            }
        }
    }
}