<nav>
    <section class="logo"></section>
    <section class="search">
        <button class="addBtn">
            <div>
                <mat-icon class="mat-18">add</mat-icon>
                <span>დამატება</span>
            </div>
        </button>
        <section appShearchSize>
            <div>
                <input type="text">
                <button class="searchBtn">
                    <mat-icon class="mat-18">search</mat-icon>
                </button>
            </div>
        </section>
    </section>
    <section class="login">
        <button class="authorization">
            <div>
                <span>ავტორიზაცია</span>
            </div>
        </button>
    </section>
</nav>