
mat-card {
    border-bottom: 3px solid #00414d;
    div {
        background-image: url(../../../../assets/avatar.webp);
        background-size: cover;
    }
}
ul {
    list-style: none;
    font-family: BPG Nino Mtavruli;
    color: #00b3b3;
    padding-left: 0px;
    box-sizing: border-box;
    padding: 0px 8px;
    li {
        margin: 7px 0px;
        padding: 5px 0px;
        transition: .1s linear;
        font-size: 17px;
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
            background: radial-gradient(circle, rgba(224,12,127,1) 0%, rgb(0, 65, 77) 40%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200%;
            animation: textGradient 2s;
            animation-fill-mode: forwards;
            @keyframes textGradient {
                0% { background-position-x: 130%; }
                100% { background-position-x: -30%; }
            }
        }
        mat-icon {
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }
    .active {
        color: rgba(224,12,127,1);
        border-bottom: 1px solid #00414d;
    }
}