<div class="head">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>vazha urmishvili</mat-card-title>
          <mat-card-subtitle>2516435189</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <ul>
        <li
        routerLink="add-item"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">add_circle</mat-icon>
            <span>განცხადების დამატება</span>
        </li>
        <li
        routerLink="statements"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">folder_open</mat-icon>
            <span>ჩემი განცხადებები</span>
        </li>
        <li
        routerLink="finances"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">monetization_on</mat-icon>
            <span>ჩემი ფინანსები</span>
        </li>
        <li
        routerLink="messages"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">sms</mat-icon>
            <span>შეტყობინებები</span>
        </li>
        <li 
        routerLink="cart"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">shopping_cart</mat-icon>
            <span>კალათა</span>
        </li>
        <li 
        routerLink="favourites"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">favorite</mat-icon>
            <span>რჩეულები</span>
        </li>
        <li
        routerLink="personal-data"
        routerLinkActive="active"
        >
            <mat-icon class="mat-18">manage_account</mat-icon>
            <span>პერსონალური მონაცემები</span>
        </li>
        <li>
            <mat-icon class="mat-18">logout</mat-icon>
            <span>გასვლა</span>
        </li>
    </ul>
</div>