h1, mat-form-field, mat-label, button, span, mat-radio-button {
    font-family: BPG Nino Mtavruli;
}
form {
    width: 400px;
    h1 {
        text-align: center;
        margin-top: 22px;
        font-size: 40px;
        color: #00414d;
    }
    mat-form-field {
        display: block;
        margin-top: 15px;
    }
    .code {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            width: 40%;
            height: 54px;
            background-image: url(../../../../assets/pexels-digital-buggu-171198.jpg);
            background-size: cover;
            border-radius: 7px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
                margin: 0;
                color: #ff80df;
                letter-spacing: 12px;
                font-family: 'Abril Fatface', cursive;
            }
        }
        button {
            background-color: #00414d;
        }
        mat-form-field {
            width: 40%;
        }
    }
    .submit {
        display: flex;
        justify-content: center;
        button {
            margin-top: 15px;
            width: 70%;
            background-color: #00414d;
            color: #FFF;
        }
    }
}