<form>
    <div class="email">
        <h1>პაროლის აღდგენა</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>იმეილი</mat-label>
            <input type="email" matInput>
        </mat-form-field>
    </div>
    <div class="code">
        <div>
            <h2>{{code}}</h2>
        </div>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
        (click)="changeCode()"
        >
            <mat-icon class="mat-18">change_circle</mat-icon>
        </button>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>კოდი</mat-label>
            <input type="email" matInput>
        </mat-form-field>
    </div>
    <!-- submit button -->
    <div class="submit">
        <button mat-raised-button>გაგზავნა</button>
      </div>
</form>